#loginAnchor{
    -fx-background-image: url("../../../resources/images/themes/ColdNight/background.png");
    /*-fx-fill: url("./../../../../resources/images/themes/ColdNight/background.png");*/
    -fx-background-size: cover ;
    /*-fx-background-color: red;*/
}

#loginButton{
    /*-fx-background-color: red;*/
    /*-fx-fill: url("../../../../resources/images/themes/ColdNight/background.png");*/
    /*-fx-fill:red;*/
    /*-fx-fill-image: url("../../../../resources/images/head/AppDefault.png");*/
}

#loginheadImg{
    /*-fx-fill: red;*/
    /*-fx-fill: image("../../../../resources/images/head/1.png");*/
    -fx-highlight-fill: white;
}

#RootLayoutLeft{
    -fx-background-color: #12B7F5;
}
#RootLayoutLeftHead{
    -fx-background-image: url("../../../resources/images/Menu/tempHead.png");
    -fx-background-size: cover;
}
#RootLayoutLeftButtonMsg{
    -fx-background-image: url("../../../resources/images/Menu/messageSelected.png");
    -fx-background-size: cover;
}

#RootLayoutLeftButtonPeople{
    -fx-background-image: url("../../../resources/images/Menu/people.png");
    -fx-background-size: cover;
}
#RootLayoutLeftButtonFunction{
    -fx-background-image: url("../../../resources/images/Menu/function.png");
    -fx-background-size: cover;
}
#RootLayoutLeftButtonSetting{
    -fx-background-image: url("../../../resources/images/Menu/setting.png");
    -fx-background-size: cover;
}
#TalkSearchPane{
    -fx-background-color: #EEEFF3;
}
#talkSearch{
    /*-fx-background-color: red;*/
    -fx-background-image: url("../../../resources/images/Talk/search.png");
    -fx-background-size: cover;
}

.talk-left-head-img{
    -fx-image: url("../../../resources/images/Menu/tempHead.png");
}

/*------------------------------------聊天界面-------------------------------------*/
/*聊天界面左板块*/
.talk-left-pane{
    -fx-background-color: #EEEFF3;
}
/*聊天界面右板块*/
.talk-right-pane{
    -fx-background-color: #E9EEF4;
}
/*输入框*/
.talk-content{
    -fx-background-color: white;
}
/*聊天输入框上的工具栏*/
.talk-tools{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #D1D6DB;
}
/*发送按钮*/
#talkSend{
    -fx-background-color: #18B4ED;
}
/*输入窗口工具*/
#face-tools{
    -fx-background-image: url("../../../resources/images/Talktools/face.png");
    -fx-background-size: cover;
}
#pic-tools{
    -fx-background-image: url("../../../resources/images/Talktools/pic.png");
    -fx-background-size: cover;
}
#record-tools{
    -fx-background-image: url("../../../resources/images/Talktools/record.png");
    -fx-background-size: cover;
}
#voice-tools{
    -fx-background-image: url("../../../resources/images/Talktools/voice.png");
    -fx-background-size: cover;
}
#file-tools{
    -fx-background-image: url("../../../resources/images/Talktools/file.png");
    -fx-background-size: cover;
}
/*输入文本框*/
#talk-content-text-area{
    -fx-border-width: 2 2 2 2;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-font-size: 16px;
}
/*聊天界面昵称*/
.label-talk-view {
    -fx-font-size: 13pt;
    -fx-opacity:0.9;
}
/*聊天界面最后一条记时间*/
.label-talk-view-time {
    -fx-font-size: 12pt;
    -fx-opacity:0.5;
}
/*聊天界面最后一条聊天记录*/
.label-talk-view-content {
    -fx-font-size: 11pt;
    -fx-opacity:0.5;
}

.label-talk-back{
    -fx-font-size: 40pt;
}
/*聊天界面右侧用户昵称*/
.label-talk-right-name{
    -fx-font-size: 14pt;
    -fx-opacity:0.9;
}
/*列表上下分割线*/
.talk-pane{
    -fx-border-width: 0.05 0 0.05 0;
    -fx-border-color: gray;
}

.talk-content-right-pane{
    /*-fx-background-color: red;*/
    -fx-background-image: url("../../../resources/images/Operate/info.png");
    -fx-background-size: cover;
}
/*------------------------------------聊天界面-------------------------------------*/


/*------------------------------------联系人界面-------------------------------------*/

/*联系人列表右侧显示*/
#contacts-right-main{
    -fx-background-image: url("../../../resources/images/Others/msg.png");
    -fx-background-size: cover;
}
.contacts-list{
    -fx-background-color:white;
}

/*联系人左侧折叠列表*/
.contacts-main{
    /*-fx-border-width: 5px;*/
    -fx-background-color:yellow;
    -fx-border-color:red;
    -fx-progress-color: green;
    /*-fx-color-label-visible: false;*/
    -fx-background-color: blue;
}
#contacts-head{
    -fx-image: url("../../../resources/images/Menu/tempHead.png");
}
/*联系人上下边框*/
.contacts-list-border{
    -fx-border-width: 0.2 0 0.2 0;
    -fx-border-color: #D1D6DB;
}

/*联系人添加符号*/
#contacts-add-img{
    -fx-background-image: url("../../../resources/images/Contacts/add.png");
    -fx-background-size: cover;
}


/*联系人添加标签*/
.contacts-add-label{
    -fx-font-size: 18px;
}
/*------------------------------------联系人界面-------------------------------------*/

/*------------------------------------功能界面-------------------------------------*/
/*功能列表方块*/
.function-list-pane{
    /*-fx-background-color: red;*/
}
#functionMsg{
    -fx-background-image: url("../../../resources/images/Function/msg.png");
    -fx-background-size: cover;
}
#functionCourse{
    -fx-background-image: url("../../../resources/images/Function/course.png");
    -fx-background-size: cover;
}
#functionScore{
    -fx-background-image: url("../../../resources/images/Function/score.png");
    -fx-background-size: cover;
}
#functionArrange{
    -fx-background-image: url("../../../resources/images/Function/arrange.png");
    -fx-background-size: cover;
}
#functionPayHistory{
    -fx-background-image: url("../../../resources/images/Function/payhistory.png");
    -fx-background-size: cover;
}
#functionRadio{
    -fx-background-image: url("../../../resources/images/Function/radio.png");
    -fx-background-size: cover;
}
#functionDoc{
    -fx-background-image: url("../../../resources/images/Function/doc.png");
    -fx-background-size: cover;
}
#functionShop{
    -fx-background-image: url("../../../resources/images/Function/shop.png");
    -fx-background-size: cover;
}

/*------------------------------------功能界面-------------------------------------*/

/*------------------------------------设置界面-------------------------------------*/
/*设置选项图标*/
#SetAccount{
    -fx-background-image: url("../../../resources/images/Setting/ColdNight/key.png");
    -fx-background-size: cover;
}
#SetInfo{
    -fx-background-image: url("../../../resources/images/Setting/ColdNight/man.png");
    -fx-background-size: cover;
}
#SetMsg{
    -fx-background-image: url("../../../resources/images/Setting/ColdNight/msg.png");
    -fx-background-size: cover;
}
#SetTheme{
    -fx-background-image: url("../../../resources/images/Setting/ColdNight/theme.png");
    -fx-background-size: cover;
}
#SetPrivacy{
    -fx-background-image: url("../../../resources/images/Setting/ColdNight/privacy.png");
    -fx-background-size: cover;
}
#SetAssist{
    -fx-background-image: url("../../../resources/images/Setting/ColdNight/set.png");
    -fx-background-size: cover;
}
#SetAbout{
    -fx-background-image: url("../../../resources/images/Setting/ColdNight/about.png");
    -fx-background-size: cover;
}

/*设置界面选项名称*/
.set-list-name{
    -fx-font-size: 20px;
    -fx-font-weight: lighter;
}

.set-option{
    -fx-background-color: #EEEFF3;
}
.set-option:hover{
    -fx-background-color: #F1F5FA;
}

/*------------------------------------设置界面-------------------------------------*/

/*------------------------------------设置子界面-------------------------------------*/

/*-------我的资料-----*/
#SetInfoPane{
    -fx-background-image: url("../../../resources/images/themes/ColdNight/background.png");
    -fx-background-size: cover;
}
#SetInfoPaneHead{
    -fx-background-image: url("../../../resources/images/Menu/tempHead.png");
    -fx-background-size: cover;
}
#EditinfoBtn{
    /*-fx-background-color: #5FC7F2;*/
    -fx-border-width: 19;
    -fx-border-radius: 20px;
    -fx-border-color: #5FC7F2;
}
.set-info-name-signature-label{
    -fx-font-size: 20px;
}
.set-info-name-sid-label{
    -fx-font-size: 15px;
    -fx-opacity: 0.7;
}
/*-------我的资料-----*/
/*------------------------------------设置子界面-------------------------------------*/

.label{
    -fx-font-family: "Microsoft YaHei UI";
}


















/*.label-bright {*/
    /*-fx-font-size: 11pt;*/
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 1;*/
/*}*/

/*.label-header {*/
    /*-fx-font-size: 32pt;*/
    /*-fx-font-family: "Segoe UI Light";*/
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 1;*/
/*}*/

/*.table-view {*/
    /*-fx-base: #1d1d1d;*/
    /*-fx-control-inner-background: #1d1d1d;*/
    /*-fx-background-color: #1d1d1d;*/
    /*-fx-table-cell-border-color: transparent;*/
    /*-fx-table-header-border-color: transparent;*/
    /*-fx-padding: 5;*/
/*}*/

/*.table-view .column-header-background {*/
    /*-fx-background-color: transparent;*/
/*}*/

/*.table-view .column-header, .table-view .filler {*/
    /*-fx-size: 35;*/
    /*-fx-border-width: 0 0 1 0;*/
    /*-fx-background-color: transparent;*/
    /*-fx-border-color:*/
            /*transparent*/
            /*transparent*/
            /*derive(-fx-base, 80%)*/
            /*transparent;*/
    /*-fx-border-insets: 0 10 1 0;*/
/*}*/

/*.table-view .column-header .label {*/
    /*-fx-font-size: 20pt;*/
    /*-fx-font-family: "Segoe UI Light";*/
    /*-fx-text-fill: white;*/
    /*-fx-alignment: center-left;*/
    /*-fx-opacity: 1;*/
/*}*/

/*.table-view:focused .table-row-cell:filled:focused:selected {*/
    /*-fx-background-color: -fx-focus-color;*/
/*}*/

/*SplitPane中间的分割线样式设置*/
/*.split-pane:horizontal > .split-pane-divider {*/
    /*-fx-border-color: #E9EEF4;*/
    /*-fx-background-color: #E9EEF4;*/
/*}*/

/*.split-pane {*/
    /*-fx-padding: 1 0 0 0;*/
/*}*/

/*.menu-bar {*/
    /*-fx-background-color: rgba(255,255,255,0);*/
/*}*/

/*.context-menu {*/
    /*-fx-background-color: derive(#1d1d1d,50%);*/
/*}*/

/*.menu-bar .label {*/
    /*-fx-font-size: 14pt;*/
    /*-fx-font-family: "Segoe UI Light";*/
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 0.9;*/
/*}*/

/*.menu .left-container {*/
    /*-fx-background-color: black;*/
/*}*/

/*.text-field {*/
    /*-fx-font-size: 12pt;*/
    /*-fx-font-family: "Microsoft YaHei UI";*/
/*}*/




















/*!**/
 /** Metro style Push Button*/
 /** Author: Pedro Duque Vieira*/
 /** http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/*/
 /**!*/
/*.button {*/
    /*-fx-padding: 5 22 5 22;*/
    /*-fx-border-color: #e2e2e2;*/
    /*-fx-border-width: 2;*/
    /*-fx-background-radius: 0;*/
    /*-fx-background-color: #1d1d1d;*/
    /*-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;*/
    /*-fx-font-size: 11pt;*/
    /*-fx-text-fill: #d8d8d8;*/
    /*-fx-background-insets: 0 0 0 0, 0, 1, 2;*/
/*}*/

/*.button:hover {*/
    /*-fx-background-color: #3a3a3a;*/
/*}*/

/*.button:pressed, .button:default:hover:pressed {*/
    /*-fx-background-color: white;*/
    /*-fx-text-fill: #1d1d1d;*/
/*}*/

/*.button:focused {*/
    /*-fx-border-color: white, white;*/
    /*-fx-border-width: 1, 1;*/
    /*!*-fx-border-style: solid, segments(1, 1);*!*/
    /*-fx-border-radius: 0, 0;*/
    /*-fx-border-insets: 1 1 1 1, 0;*/
/*}*/

/*.button:disabled, .button:default:disabled {*/
    /*-fx-opacity: 0.4;*/
    /*-fx-background-color: #1d1d1d;*/
    /*-fx-text-fill: white;*/
/*}*/

/*.button:default {*/
    /*-fx-background-color: -fx-focus-color;*/
    /*-fx-text-fill: #ffffff;*/
/*}*/

/*.button:default:hover {*/
    /*-fx-background-color: derive(-fx-focus-color,30%);*/
/*}*/

